.container{
    width: 40vw;
    background-color: lightgray;
    margin: 40px auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 80vh;
    overflow: scroll;
}
.add-todo{
    width: 70%;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}
.add-todo > input{
    width: 70%;
    height: 35px;
    padding: 5px 20px;
    font-size: 1.2rem;
}
.add-todo > button{
    width: 20%;
    /* background-color: aqua; */
    cursor: pointer;
}
.item-show{
    display: flex;
    flex-direction: row;
    /* width: ; */
    justify-content: space-between;
    background: rgb(244, 244, 244);
    margin: 10px 0;
    padding: 0 20px;
    height: 50px;
    font-size: 1rem;
    align-items: center;

}
.show-todo{
    width: 70%;
}
.checkbox{
    display: flex;
    flex-direction: row;
    width: 15%;
    justify-content: space-between;
    transition: all 1s ease;
    align-items: center;
    font-size: 1.5rem;
}
svg{
    width: 24px;
    height: 24px;
}
.checkbox > svg:hover{
    cursor: pointer;
    transform: scale(1.1);
    color: blue;
}
.checkbox > p:hover{
    transform: scale(1.1);
    color: blue;
    cursor: pointer;
}
.complete{
    background-color: rgb(14, 194, 68);
    color: rgb(255, 253, 253);
}
.input-edit{
    font-size: 1rem;
    padding: 5px;
    /* border: 1; */
}
