.container{
    width: 40vw;
    background-color: lightgray;
    margin: 40px auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 80vh;
    overflow: scroll;
}
.add-todo{
    width: 70%;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}
.add-todo > input{
    width: 70%;
    height: 35px;
    padding: 5px 20px;
    font-size: 1.2rem;
}
.add-todo > button{
    width: 20%;
    /* background-color: aqua; */
    cursor: pointer;
}
.item-show{
    display: flex;
    flex-direction: row;
    /* width: ; */
    justify-content: space-between;
    background: rgb(244, 244, 244);
    margin: 10px 0;
    padding: 0 20px;
}
.show-todo{
    width: 70%;
}
.checkbox{
    display: flex;
    flex-direction: row;
    width: 10%;
    justify-content: space-between;
    transition: all 2s ease;
}
.checkbox > input:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.checkbox > p:hover{
    transform: scale(1.1);
    cursor: pointer;
}

